<div class="modal-content">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title">Reporte de Rendimiento</h4>
	</div>
	<form ng-submit="generarReporteRendimiento()">
		<div class="modal-body">
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label>Fecha Inicio</label>
						<input type="text" class="form-control month-picker" id="fecha_reporte_rendimiento_inicio" required>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label>Fecha Fin</label>
						<input type="text" class="form-control month-picker" id="fecha_reporte_rendimiento_fin" required>
					</div>
				</div>
			</div>					
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
			<button type="submit" class="btn btn-primary">Generar Reporte</button>
		</div>
	</form>
</div>